.centered {
    margin: 0 auto;
    text-align: center;
}

.chart-container {
    position: relative;
    width: 100%;
    height: 800px;
    margin: 0 auto
}

.chart {
    height: 100%;
    width: 100%;
    position: absolute;
}